.about {
  margin-bottom: 40px;
}

.about__title {
  margin-bottom: 25px;
}

.about__item {
  font-family: Arial, Sans-serif;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  position: relative;

  &::before {
    content: "";
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    margin-right: 20px;
    background: #68b738 center no-repeat;
  }
  &--1::before {
   background-image: url("../img/advantage-1.png");
  }
  &--2::before {
    background-image: url("../img/advantage-2.png");
  }
  &--3::before {
   background-image: url("../img/advantage-3.png");
  }
  &--4::before {
    background-image: url("../img/advantage-4.png");
  }
}

@media(min-width: $tablet) {
  .about {
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 0;
  }
  .about__title {
    padding-top: 35px;
    margin-bottom: 75px;
  }
  .about__list {
    display: flex;
    flex-wrap: wrap;
  }
  .about__item {
    width: 50%;
    p {
      width: 250px;
    }
    flex-direction: column;
    align-items: flex-start;
    min-height: 230px;
    margin-bottom: 90px;
    font-size: 16px;
    line-height: 24px;
    counter-increment: aboutitem;
    &::before {
      width: 80px;
      height: 80px;
      margin-bottom: 35px;
    }
    &::after {
      content: counter(aboutitem) " ";
      position: absolute;
      left: 120px;
      top: -35px;
      z-index: -1;

      font-size: 280px;
      line-height: 280px;
      font-family: "Oswald", Arial, sans-serif;
      color: #f2f2f2;
    }
  }
}

@media(min-width: $desktop) {
  .about {
    border: none;
  }
  .about__title {
    padding-top: 0;
    margin-bottom: 72px;
  }
  .about__item {
    width: 25%;
    margin-bottom: 25px;
  }
}