.catalog__item {
  &:first-child {
    border-top: 1px solid #ededed;
  }
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 22px;
  border-bottom: 1px solid #ededed;
  min-height: 209px;
  picture {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }
  h3 {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    width: 75px;
    padding-top: 23px;
  }
  table {
    grid-column: 2 / 3;
    font-size: 12px;
    line-height: 14px;
    font-family: "Arial";
    justify-self: left;
    td:nth-child(2n) {
      text-align: right;
      width: 100px;
    }
  }
  a {
    font-size: 16px;
    line-height: 20px;
    padding: 10px;
    text-transform: uppercase;
    color: white;
    background-color: #68b738;
    &:hover {
      background-color: #5eaa2f;
    }
    &:active {
      color: #8fc46e;
    }
    grid-column: 1 / 3;
  }
}

.catalog__item--last {
  position: relative;
  &::before, &::after {
    position: absolute;
    content: '';    
    width: 30px;
    height: 2px;
    background-color: #cccccc;
    top: 45px;
    left: calc(50% - 15px);
  }
  &::after {
    transform: rotate(90deg);
  }
  display: flex;
  flex-direction: column;
  text-align: center;
  h3 {
    width: auto;
    padding-top: 80px;
    padding-bottom: 10px;
  }
  p {
    font-family: "Arial";
    font-size: 12px;
    line-height: 16px;
    padding-bottom: 20px;
  }
  a {
    background-color: #f2f2f2;
    &:hover {
      background-color: #ebebeb;
    }
    &:active {
      color: #888;
    }
    color: black;
  }
}

.catalog__dopItem {
  &:first-child {
    border-top: 1px solid #ededed;
  }
  border-bottom: 1px solid #ededed;
  display: flex;
  flex-direction: column;
  padding: 18px 0;
  h3 {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-transform: uppercase;
    padding-bottom: 11px;
  }
  table {
    font-family: Arial;
    padding-bottom: 10px;
    font-size: 14px;
    line-height: 14px;
    td:nth-child(2n) {
      text-align: right;
    }
  }  
  a {
    font-size: 16px;
    line-height: 20px;
    padding: 10px;
    text-transform: uppercase;
    color: white;
    background-color: #68b738;
    &:hover {
      background-color: #5eaa2f;
    }
    &:active {
      color: #8fc46e;
    }
  }
}

.catalog__gift {
  height: 290px;
  background: url('../img/gift-photo-mobile.jpg.jpg') center no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 35px;
  img {
    padding-top: 65px;
  }
  p {
    padding-top: 65px;
    font-family: "Arial";
    font-size: 16px;
    line-height: 20px;
    color: white;
    max-width: 160px;
    text-align: center;
  }
}

@media(min-width: $tablet) {

  .catalog.container,
  .catalog__dopItems.container {
    padding-left: 30px;
  }
  .catalog__dopItems .form__h2title {
    margin-left: 7px;
    padding-bottom: 80px;
  }
  .catalog__gift {
    background-image: url('../img/gift-photo-tablet.jpg');
    height: 200px;
    margin-top: 65px;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 710px;
    flex-direction: row;
    img,p {
      padding-top: 0;
    }
    img {
      margin-left: 65px;
      margin-right: auto;
    }
    p {
      margin-right: 100px;
      text-align: left;
    }
  }
  .catalog__dopItem {
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid #ededed;
    padding: 28px 35px;
    min-height: 140px;
    h3 {
      font-size: 20px;
      margin-right: auto;
    }
    table {
      width: 230px;
      font-size: 16px;
      text-align: right;
      td:nth-child(2n) {
        width: 90px;
      }
    }
    a {
      width: 100%;
      margin-top: 12px;
    }
  }
  .catalog__dopItems .form__h2title {
    padding-top: 0;
    margin-top: -13px;
    padding-left: 30px;
  }
  .catalog__title {
    padding-left: 40px;
    padding-top: 35px;
    padding-bottom: 165px;
  }
  .catalog__list {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    
  }
  .catalog__item {
    background-color: #f2f2f2;
    padding: 40px 35px;
    width: 320px;
    min-height: 430px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 80px;
    picture {
      position: absolute;
      bottom: 300px;
    }
    h3 {
      padding-top: 120px;
      font-size: 20px;
      line-height: 20px;
      width: 130px;
      text-align: center;
      padding-bottom: 20px;
    }
    table {
      font-size: 16px;
      line-height: 16px;
      border-collapse: collapse;
      width: 100%;
      margin-bottom: 30px;
      tr {
        border-bottom: 2px solid #cdcdcd;
        height: 33px;
      }
    }
    a {
      width: 100%;
    }
    &--last {
      background-color: white;
      border: 1px solid #cdcdcd;
      &::before, &::after {
        width: 60px;
        left: 130px;
        top: 85px;
      }
      h3 {
        padding-top: 125px;
        padding-bottom: 25px;
        width: 135px;
      }
      p {
        font-size: 16px;
        line-height: 20px;
        width: 175px;
      }
      a {
        margin-top: auto;
      }
    }
  }
}
@media(min-width: $desktop) {
  .catalog__title {
    padding-left: 0;
    padding-top: 55px;
  }
  .catalog__list {
    gap: 80px;
    grid-template-columns: repeat(4, 1fr);
  }
  .catalog__item {
    width: auto;
    margin-bottom: 60px;
    &--last {
      &::before, &::after {
        left: 95px;
      }
    }
  }
  .catalog {
    margin-bottom: 30px;
  }
  .catalog__dopItems {
    margin-bottom: 85px;
  }
  .catalog__dopItems .form__h2title {
    margin-left: -40px;
  }
  .catalog--wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
  }
  .catalog__dopList {
    width: 900px;
    grid-column: 1 / 4;
    margin-left: -10px;
  }
  .catalog__dopItem {
    border-left: none;
    border-right: none;
    padding: 0;
    align-items: center;
    min-height: 72px;
    h3 {
      padding: 0;
    }
    a{
      width: 245px;
      margin: 0;
    }
    table {
      text-align: left;
      width: 330px;
      padding: 0;
    }
  }
  .catalog__dopItem table td:nth-child(2n) {
    text-align: left;
  }
  .catalog__gift {
    width: 245px;
    height: 290px;
    background-image: url('../img/gift-photo-desktop.jpg');
    margin: 0;
    flex-direction: column;
    align-items: center;
    img {
      margin: 0;
      margin-top: 65px;
      margin-bottom: 60px;
    }
    p {
      margin: 0;
      text-align: center;
    }
  }
}