.page-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.page-header__logo {
  width: 35px;
  height: 40px;
  padding: 13px 0;
  flex-shrink: 0;
  background: center no-repeat url("../img/svg/logo.svg");

  &:hover {
    opacity: 0.8;
  }
  &:active {
    opacity: 0.6;
  }
}

.page-header__title {
  width: 100px;
  height: 20px;
  margin: 23px;
  background: center no-repeat url("../img/svg/logo-title.svg");
}

.page-header__nav-btn {
  width: 30px;
  height: 30px;
  background: center no-repeat url("../img/svg/m-close.svg");
  
}

.page-header__nav {
  width: 100%;
}

.page-header__link {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  display: block;
  color: black;
  text-transform: uppercase;
  padding: 20px 0;

  &[href]:hover {
    opacity: 0.6;
  }

  &[href]:active {
    opacity: 0.3;
  }
}

@media(max-width: $mobile-only) {
  .page-header {
    border-bottom: 1px solid #e6e6e6;
  }
  .page-header__link {
    border-top: 1px solid #e6e6e6;
    margin: 0 -20px;
  }
  .page-header__nav--closed {
    display: none;
  }
  .page-header__nav-btn--closed {
    background-image: url("../img/svg/m-open.svg");
  }
}

@media(min-width: $tablet) {
  .page-header__nav-btn,
  .page-header__title {
    display: none;
  }
  .page-header {
    padding: 20px 20px;
    flex-wrap: nowrap;
    align-items: flex-start;
  }
  .page-header__logo {
    width: 175px;
    height: 60px;
    padding: 0;
    background-image: url("../img/svg/logo-tablet.svg");
  }
  .page-header__nav {
    width: auto;
    ul {
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
    }
  }
  .page-header__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;

    margin-left: 35px;
    padding-bottom: 5px;
    &:not([href]) {
      border-bottom: 2px solid #68b738;
    }
  }
}

@media(min-width: $desktop) {
  .page-header {
    padding-top: 55px;
  }
  .page-header__logo {
    width: 200px;
    height: 60px;
    background-image: url("../img/svg/logo-desktop.svg");
  }
  .page-header__link {
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
  }
  .page-header__nav--index {
    width: 50%;
    .page-header__link {
      color: white;
      &:not([href]) {
        border-bottom: 2px solid white;
      }
    }
  }
}